<div class="pl bg1"><div class="bg bg0"></div><div class="inner"><h1>social smile</h1><h2>robust sentiment analysis for your business<span style="font-family: arial; padding-top: -4px">:)</span></h2></div></div>
<div class="search-row">
    <form ng-submit="collect()">
        <br />
        <input type="text" ng-model="search" class="search bo2 c2" placeholder="@username or #hashtag" />
        <br />
        <input type="submit" class="go bg0" value="{{state==='showingResult'?'Check Again':state==='parsing'?'Parsing Data':state==='searching'?'Searching':'Check'}}" ng-disabled="state==='searching' || state==='parsing'" />
    </form>
</div>
<div class="result">
    <div class="pure-g {{sentiment.class}}" ng-repeat="sentiment in sentiments">
        <div class="pure-u-1-5">
            <div class="sentiment {{sentiment.color}}">{{sentiment.face}}</div>
        </div>
        <div class="pure-u-4-5">
            <h2 class="c1">{{sentiment.title}} - {{sentiment.polarity * 10}}%, &nbsp; <span class="c3">Spread - {{sentiment.spread * 10}}%</span></h2>
            <div class="positive" ng-show="sentiment.positive.length>0">
              <span ng-repeat="item in sentiment.positive | orderBy:'-polarity' | limitTo:3"><a href="{{item.user.url}}"><img ng-src="item.user.profile_image_url" class="avatar" tooltip="{{item.text}}" /></a></span>
            </div>
            <div class="negative" ng-show="sentiment.negative.length>0">
              <span ng-repeat="item in sentiment.negative | orderBy:'polarity' | limitTo:3"><a href="{{item.user.url}}"><img ng-src="item.user.profile_image_url" class="avatar" tooltip="{{item.text}}" /></a></span>
            </div>
        </div>
    </div>
</div>
<div class="footer c3">made by <a href="http://rainstormweb.com" title="RainstormWeb">rainstormweb</a></div>