<div class="pl bg1"><div class="bg bg0"></div><div class="inner"><h1>social smile</h1><h2>robust sentiment analysis for your business<span style="font-family: arial; padding-top: -4px">:)</span></h2></div></div>
<div class="search-row">
    <form ng-submit="collect()">
        <br />
        <input type="text" ng-model="search" class="search bo2 c2" placeholder="@username or #hashtag" />
        <br />
        <input type="submit" class="go bg0" value="Go" />
    </form>
</div>
<div class="footer c3">made by <a href="http://rainstormweb.com" title="RainstormWeb">rainstormweb</a></div>